.cards-container__card{
    height: 300px;
    width: 200px;
    background: white;
    margin: 22px;
    border-radius: 10px;
}

.img-container__img{
    height: 100%;
    width: 100%;
}

.info-container__name{
    text-align: center;
}

.info-container__pok-info{
    list-style: none;
}
