
@import '../../App.scss';

.home-container__pokemon-window{
    margin: 50px;
    height: auto;
    min-width: 850px;
    background: white;
    border-radius: 10px;  
    position: relative;
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pokemon-window__close-button{
    position: absolute;
    right: 0px;
    top: -50px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
    @include poke-font(40px, 0px, 4px);
}

.pokemon-info__pokemon-name{
    margin-top: 10px;
    @include poke-font(50px, 15px, 4px);
}

.pokemon-info__some-info{
    list-style: none;
}

.pokemon-info__info{
    margin-top: 15px;
    @include poke-font(25px, 4px, 1.5px);
}