.root__header{
    background: black;
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header__logo{
    height: 75px;
    margin-left: 30px;
}

.header__pages-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    font-size: 25px;
}

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.search__button{
    height: 100px;
    width: 100px;
    margin-left:-50px;
    cursor: pointer;
}