.cards-container__card{
    height: 300px;
    width: 200px;
    background: white;
    margin: 22px;
    border-radius: 10px;
    position: relative;
}

.card__close-button{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.img-container__img{
    height: 100%;
    width: 100%;
}

.info-container__name{
    text-align: center;
}

.info-container__pok-info{
    list-style: none;
}
