@import '../../App.scss';

.cards-container__card{
    height: 300px;
    width: 16%;
    background: white;
    margin: 22px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.normal{
    background: #9b7390;
}

.fire{
    background: #b22222;
}

.grass{
    background: #8ecc42;
}

.water{
    background: #1c8bf3;
}

.bug{
    background: #2f632e;
}

.poison{
    background: rgb(179, 0, 179);
}

.electric{
    background:yellow;
}

.ground{
    background: #855723;
}

.card__close-button{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

.card__close-button:hover{
    color: rgb(95, 92, 83);
    font-weight: bolder;
}

.img-container__img{
    height: 100%;
    width: 100%;
}

.info-container__name{
    text-align: center;
    @include poke-font(20px, 7px, 1px);
}

.info-container__pok-info{
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include poke-font(20px, 4px, 1px);
}