@import '../../App.scss';

.aboutUs-container__pokemon-window{
    margin: 50px;
    height: auto;
    min-width: 850px;
    background: white;
    border-radius: 10px;  
    position: relative;
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.aboutUs-container_text{
    margin: 60px;
    @include poke-font(40px, 10px, 2px);
}