
.aboutUs-container__pokemon-window{
    margin: 50px;
    height: auto;
    min-width: 850px;
    background: white;
    border-radius: 10px;  
    position: relative;
    display: flex;
}

.aboutUs-container_text{
    font-family: 'pokoFont';
    color: rgb(255, 196, 0);
    -webkit-text-stroke: rgb(0, 68, 255) 2px;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bolder;
    margin: 50px;
}