@import '../../App.scss';

.home-container__pokemon-container{
    min-height: calc(100vh-75px);
    min-width: 1000px;
    margin: 50px;
    background: white;
    border-radius: 10px;   
}

.search__search-phrase{
    text-align: center;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: -30px;
    @include poke-font(30px, 5px, 2px);
}

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    @include poke-font(15px, 4px, 1px);
}

.search__button{
    height: 100px;
    width: 100px;
    margin-left:-50px;
    cursor: pointer;
    outline: none;
    z-index: 100;
}